<form ng-submit="addItem()" ng-controller="expensesCtrl">
    <table class="table well">
        <thead>
            <th>Reason</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Balance</th>
            <th></th>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.name}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.date | date : format : timezone}}</td>
                <td>{{item.balance}}</td>
                <td> <button ng-click="remove($index)"> Remove</button> </td>
            </tr>
        </tbody>
        <tfoot>
            <td>
                <input type="text" ng-model="newItem.name" required>
            </td>
            <td>
                <input type="number" ng-model="newItem.amount" required>
            </td>
            <td>
                <input type="date" ng-model="newItem.date" required>
            </td>
            <td></td>
            <td>
                <input type="submit" value="Add" class="btn btn-default"><br><br>

             <p>
                Total Spent: {{items[items.length-1].balance || '0' }}
             </p>   
             <p>
                Balance: {{budget- items[items.length-1].balance || budget }}
             </p>

            </td>
        </tfoot>
    </table>
       
</form>