
<form ng-submit="addItem()" ng-controller="expensesCtrl">
        <div class="alert alert-danger" role="alert" ng-if="spent > budget" >
        Amount spent cannot be more than your budget!!
        </div>
    <table class="table well">
        <thead>
            <th>Reason</th>
            <th>Amount</th>
            <th>Date</th>
            
            <th></th>
        </thead>
        <tbody>
            <tr ng-repeat="item in items | filter:checkExpense">
                <td>{{item.item}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.ex_date | date : format : timezone}}</td>
                <td> <a class="btn btn-default" ng-click="deleteItem($index,item)"> Remove</a> </td>
            </tr>
        </tbody>
        <tfoot>
            <td>
                <input type="text" ng-model="newItem.item" required>
            </td>
            <td>
                <input type="number" ng-model="newItem.amount" required>
            </td>
            <td>
                <input type="date" ng-model="newItem.ex_date" required>
            </td>
            <td></td>
            <td>
                <input type="submit" value="Add" class="btn btn-default"><br><br>

            
    
            </td>
        </tfoot>
    </table>
    <p>
            <input type="date" ng-model="check_ex_date" >
    </p>
    <p>
            Total Spent: {{spent }}
         </p>   
         <p>
            Balance: {{budget- spent }}
         </p>
         <p>
            Budget: {{budget}}
             </p>
       
</form>